/*common*/

body {
    font-size: 16px;
    
}

a {
    text-decoration: none;
}

header {
    /* background-color: rgb(133, 160, 116); */
    border-bottom: 1px solid #c8c8c8;
}

header .inner{
    display: flex;
    position: relative;
    background-color: white;
    width: 1200px;
    height: 64px;
    padding: 0 32px;
    margin: 0 auto;
}

/*header LOGO*/
header .inner .header__logo {
    position: absolute;
    /*수직정렬을 위해 탑이랑 바텀을 0을 줌*/
    top: 0;
    bottom: 0;
    margin: auto;
    height: 32px;
}

header .inner .header__logo a {
    font-size: 32px;
    color: olive;
}

header .inner .header__logo a i {
    font-size: 32px;
    color: olive;
}

/*header MENU*/
header .inner .header__menu {
    display: flex;
    position: absolute;
    /*앱솔루트일때 중앙정렬 마진,레프트,트랜스폼사용
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);*/
    margin: auto;
    left: 200px;
    top: 0;
    bottom: 0;
    height: 32px;
}

header .inner .header__menu li {
    padding: 8px 16px;
    color: #4a4a4a;
}

header .inner .header__menu li:hover {
    font-weight: bold;
    color: #4a4a4a;
}

/*header SEARCH*/
header .inner .header__search {
    position: absolute;
    right: 350px;
    height: 36px;
    top: 0;
    bottom: 0;
    margin: auto 0;

}

header .inner .header__search input {
    padding: 5px 9px;
    width: 148px;
    height: 36px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #f6f6f6;
}

header .inner .header__search input:hover {
    border: 1px solid #c8c8c8;
}

header .inner .header__search input:focus {
    outline-color: #4a4a4a;
    /* box-shadow: inset 0px 0px 0 2px #4a4a4a; */
}

header .inner .header__search i {
    position: absolute;
    /* font-size: 16px; */
    font-size: 1rem;
    right: 9px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 16px; /*=1rem*/
}

/*header PARTICIPATION*/
header .inner .header__participation {
    position: absolute;
    right: 220px;
    height: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .inner .header__participation a:hover {
    font-weight: bold;
    color: #4a4a4a;
}

/*header BTN*/
header .inner .header__btn {
    display: flex;
    position: absolute;
    /* background-color: #c8c8c8;
    width: 148px;
    height: 64px; */
    right: 0;
    height: 32px;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .inner .header__btn:hover {
    cursor: pointer;
}

header .inner .header__btn .header__btn__login {
    padding: 8px;
    box-sizing: border-box;
    margin-right: 8px;
    border: 1px solid #dbdbdb;
    background-color: white;
    border-radius: 3px;
}

header .inner .header__btn .header__btn__register {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    background-color: #ff7867;
    border-radius: 3px;
    color: white;
}