/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* COMMON */

body {
    background-color: #c8c8c8;
}

.wrap {
    width: 100%;
    border-bottom: 2px solid black;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.wrap .item {
    width: 300px;
    padding: 30px;
    background-color: #ddd;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.wrap .item h2 {
    font: bold 25px/1 "arial";
    margin-bottom: 20px;
    color: #333;
}

.wrap .item p {
    font:normal 16px/1.5 "arial";
    color: #777;
}

.wrap .item a {
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font: bold 16px/30px "arial";
    margin-top: 20px;
}